#site{
    position: absolute;
    min-height: 100%;
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
 }


body {
    background-image: url(me.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: matrix3D(), Georgia, serif;
    font-size: 15px;
    padding: 0;
    margin-bottom: 2000px;
}
nav{
    
    top: 0;
    text-align: center;
    height: 6%;
    width: 100%;
    float: left;
    position: sticky;
    background-color: white;;
    list-style-type: : none;
    font-size: 20px;
    padding: 0;
}
nav a{
    display: block;
    float: left;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0px;}
nav ul{
    list-style-type: none;
    margin: 0 auto;
}

.head h1{
    font-size: 100px;
    padding: 0;
    margin: 0;
    color: black;
    display: inline-block;
    cursor: pointer;

    
}
.middleInitial{
    color: #02b1d9;
}
.head h1:hover{
    color: #02b1d9;
    animation: bounce 1.5s infinite;
    animation-play-state: running;
}

.head h3{
    padding: 0;
    margin: 0;
    font-style: italic;
}


.head{
    text-align: center;
    height: 250px;
    margin: 10px;
    margin-top: 180px;
    margin-bottom: 510px;
    
}
.body1{
    background-color: #02b1d9;
    height: 1500px;
    margin-top: 0px;
    
}


.body2{
    display: block;
    background-color:black;
    background-size: 100%;
    height: 400px;
    margin:0;
    width:100%;
    padding-bottom: 120px;
    padding-top: 50px;
    font-size: 20px;
 
}
.body2 h2{
    margin: 0 ;
    padding-top: 0;
    padding-bottom: 50px;
 
}
.body2 ul{
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 0px;
}
.body2 li{
    padding: 10px;
}
.containerB1 {
 

    width: 100%;
    background-color: #7fa377;
    text-align: center;
    padding: 50px 0;
}

#searchbar {
    border: 1px solid #000000;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    float: left;
    outline-color: green;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px
    border-top-left-radius: 10px;

}
#searchBtn {
    border: 1px solid #000000;
    font-size: 16px;
    padding: 10px;
    background: #bec197ff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius-radius: 10px
    border-top-right-radius: 10px;
}
 #searchBtn:hover{
    background: #A2805CFF;
 }
#img1{
    height: 200px;
    width: 200px;
    margin-left: 10%;
    padding: 0;
    transition-duration: 2s;
    animation-iteration-count: infinite;
}
#img1:hover{
   transform: translate(2000px) rotate(90000deg);

}

.suriken{
  
    height: 200px;
    width: 200px;
    margin-left: 50%;
    padding: 0;
    animation: spin 10s ;
    animation-fill-mode: forwards;

}

.suriken.move{

}
.baloon{
    margin-left: 70%;
    animation: float 6s;
animation-fill-mode: forwards;
}

#github{
    height: 50px;
    width: 50px;
    float: right;
        padding-top: 20px;
    margin-right: 5px;
    margin-left: 10px;
}
#linkedin{
    height: 50px;
    width: 50px;
    float: right;
    padding-top: 20px;
    padding-right:50px;
}
footer{
    text-align: right;
    background-color: white;
    margin: 0px;
    padding: 5px;
    height: 100px;

}

footer h3{
    padding-top:20px;
    padding-right: 10px;
    margin:0;
}
footer p{
    padding-top: 10px;
    padding-left:  10px;
    margin: 0;       
}
#button{
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: fixed;
    top: 10%;
    left: 97%;
}

#popBg {


}
#popMain{

    position: fixed;
    width: 200px;
    height: 180px;
    border-radius: 25px;
    background-color: black;
    color: white;
    left: 89%;
    top: 10%;
    transform-origin: 0% 0% 0;

}
#popClose {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1px;
    top: 1px;
    cursor: pointer;

}

#popTitle{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    background-color: lightgreen;
    margin-top: 0px;
    margin-bottom: 2px;

}
#popMenu{
    margin-right: 28px;
    font-family: sans-serif;
    text-align: center;
}
#popMenu ul{
    text-align: left;
    margin-left:0px;
    margin-top: 15px;
    margin-bottom: 0px;
    list-style-type: none;
}
#popMenu li{
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
}

#popMenu li:hover{
    background-color: #bec197;
    color: black;
}

@keyframes float{
    100%{transform: translateY(-1500px) translateX(100px);}
}
@keyframes spin{
    0%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    60%{
        transform: translateY(-25px) scale(4) rotate(360deg);
    }

    100%{
        transform: translateY(0) scale(1) rotate(0deg);
    }


}
@keyframes bounce{
    0%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    10%{
        transform: translateY(-100px) scale(1) rotate(0deg);
    }

    25%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    35%{
        transform: translateY(-35px) scale(1) rotate(0deg);
    }

    45%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    55%{
        transform: translateY(-20px) scale(1) rotate(0deg);
    }

    65%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    75%{
        transform: translateY(-5px) scale(1) rotate(0deg);
    }

    85%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
    95%{
        transform: translateY(-2px) scale(1) rotate(0deg);
    }

    100%{
        transform: translateY(0) scale(1) rotate(0deg);
    }

}